@use "global" as *;

.p-404 {
  height: 60vh;
  background-color: #fff;
  margin-top: rem(100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(25);
}
